<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Exercise Tracker mini App</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<h1 class="app-title">Exercise tracker</h1>
	<ul class="nav nav-pills nav-fill">
		<li id="add" class="nav-item"><a href="/" class="nav-link">Add Record </a></li>
		<li id="show" class="nav-item"><a href="/api/exercise/show" class="nav-link">View Records</a></li>
		<li id="new" class="nav-item"><a href="/api/exercise/new-user" class="nav-link">New User</a></li>
	</ul>
</div>